.Image {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-UYMtT2KZM2QAyVTwsjMXY-LU1D1InQrQ3w&usqp=CAU');
     height: 300px;
}

.Content {
    margin-top: -100px;
    background: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(30px);
}